/* Global CSS */

  body {
      margin: 0px;
      font-family:bahnschrift,garamond,serif;
  }

  .bg-text {
      min-width: 30px;
  }

  .topnav {
      overflow: hidden;
      background-color: #f6828c;
      width:100%;
  }

  div.nav-fill {
      width: 300px;
  }

  .topnav #myLinks {
      position: absolute;
      left: 161px;
      width:80%;
  }

   #myLinks {
      display:flex;
      width:100%;
   }

  .topnav a {
      font-weight: bold;
      padding: 12px 25px;
      text-decoration: none;
      display: block;
      font-size: 20px;
      height:50px;
      text-align: center;
  }

  .topnav {
      border-bottom: solid white 2px;
  }

  .topnav a.icon {
      display: none;
  }

  .icon {
      background: #f6828c;
  }

  .icon:hover, 
  .link:hover,
  .link-logout:hover {
      background: #ffe4cf;
      color: #247ba0;
      transition: 1s;
  }

  .active {
      width: 100px;
      color: #ffe4cf;
  }

  #title {
      font-size: 20px;
      color: white;
      font-weight: bold;
      letter-spacing: 5px;
      font-family: 'Playfair Display', serif;
      margin-top: -1px;
      margin-left: 15px;
      font-style: bold;
  }
/*COMPUTADORA*/
@media screen and (min-width:811px) {

  .link, .link-logout {
      border-radius: 15px 15px 0px 0px;
      background-size: 100% 200%; 
      border-bottom: solid white 2px;
      transition: 
      box-shadow 3s,
      background-color 1s,
      background-position 1s, 
      color 0s;
  }

  .link:hover, .link-logout:hover {
      padding-left: 25px;
      padding-right: 25px;
      background-size: 100% 200%;
      box-shadow: inset -2px 2px 0 0 #ffffff, inset 2px 1px 0 0 #ffffff;
      border-radius: 15px 15px 0px 0px;
      transition: 
      background-position .2s;
    }

  .link:hover {
      background-image: linear-gradient(to bottom, #f6828c 50%, #ffe4cf 0%);
      background-color: #F0D7C4;
      border-bottom: rgba(0,0,0,0) 2px;
  }

  .link-logout:hover {
      background-image: linear-gradient(to bottom, #f6828c 50%, #7FC2A1 0%);
      border-bottom: solid white 2px;
      background-color: #7FC2A1;
  }

  .link:focus, .link:hover, .link-logout:focus, .link-logout:hover {
      background-position: 100% 100%;
      transition: .6s;
  }

  .topnav #myLinks{
      top: 1px;
  }
  .link-logout {
      
      position:absolute;
      right: 0;
      top: 0;
  }
}

/*CELULAR*/
@media screen and (max-width:810px) {

  .active {
      width: 100%;
  }

  .topnav {
      overflow: hidden;
      background-color: rgb(95,187,151);
      position:fixed;
      width:100%;
  }

  .topnav #myLinks {
      display: none;
      position:initial;
      width: 100%;
  }

  .topnav a {
      height:50px;
  }

  #title {
      margin-top: 0px;
      background-color: #f6828c;
  }

  #myLinks {
      margin-top: 0px;
  }

  .topnav a.icon {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
  }

  .icon:hover {
      color: white;
  }

  .icon:active, .link:active {
      color: #247ba0;
  }
}