	#g-recaptcha-response {
	    display: block !important;
	    position: absolute;
	    margin: -78px 0 0 0 !important;
	    width: 302px !important;
	    height: 76px !important;
	    z-index: -999999;
	    opacity: 0;
	}

	  * {
		  font-family:bahnschrift,garamond,serif;
	  }

	  body{
	      /*background-color: #ffe4cf;*/
	      background-image: url("../src/bg.png");
	      background-size:400px;
	      background-repeat: repeat;
	  }

	  .title {
	  	margin: 20px;
	  	text-align: center;
	  }

	  header h1 {
	  	color: #fff;
	  	margin-bottom: 10px;
	  }

	  header h2 {
	  	text-align: left;
	  	margin-bottom: 50px;
	  }

	  .socialIcons img {
	  	padding:20px 40px 5px 40px;
	  	width: 35px;
	  }

	  .seeMore {
	    text-shadow: none;
	  	width:150px;
	  	color:black;
	  	border-radius: 10px;
	  	background: #EFFFEF;
	  	padding:20px;
	  	box-sizing:border-box;
	  }

	  .main {
	    text-shadow: none;
	    text-align: left;
	  	width:48%;
	  	margin: 1%;
	  	color:black;
	  	border-radius: 25px;
	  	background: #EFFFEF;
	  	padding:20px;
	  	float:left;	
	  	box-sizing:border-box;
	  }

	  	.imgCont {
	  		padding:50px;
	  	}

	  	.imgContent {
	  		width:100%;
	  		border: 2px solid black;
	  		min-width:200px;
	  		box-sizing:border-box;
	  	}

	  	.footer {
	      	background-color: rgba(95, 187, 151, 1);
	        box-shadow: 0px 0px 15px white;
	  		max-width: 550px;
	  		border-radius: 15px;
	      	box-sizing:border-box;
		}

	  	.footCont{
	  		padding:1px 5px 1px 5px;
	  		height: 80px;
	  		font-family: Bahnschrift;
	  		color: white;
	  		text-align: middle;
	  		text-shadow: 1px 1px 1px black;
	  	}

	  	.footerContent {
	  		font-family: Bahnschrift;
	  		font-weight: bold;
	  		padding: 10px;
	  		text-align: center;
	  	}
	  	
	    .mainContent {
	    	width: 100%;
	    	max-width: 1000px;
	    	margin: 0 auto;
	    	overflow:hidden;
	    }

	    .bg-text {
		  background-color: rgba(95, 187, 151, 0.85);
	      color: white;
	      border: 3px solid #f1f1f1;
	      text-shadow: 1px 1px 2px black;
	   	  border-radius: 25px;
	        box-shadow: 0px 0px 15px white;
		    max-width: 1000px;
		    width: 90%;
	    	overflow:hidden;
	   	  padding: 20px;
	    }

	    .bg-text-login {
	      background-color: rgba(95, 187, 151, 0.8);
	      color: white;
	      font-family:bahnschrift,garamond,serif;
	      border: 2px solid #f1f1f1;
	      text-shadow: 1px 1px 2px black;
	      border-radius: 25px;
	      width: 50%;
	      min-width:350px;
	      max-width:500px;
	      padding: 0px 20px;
	      text-align: center;
	      font-size:14px;
	      box-shadow: 0px 0px 15px white;
	    }

	    a {
	      color: red;
	    }

	    .container .box .a {
	      display:table;
	  }
	    .index-img {
	      border: 1px solid black;
	      width: 100%;
	      min-width:100px;
	      height: auto;
	    }


	  .box-row{
	    width: 100%;
	    border-radius: 10px;
	    background: rgba(132, 220, 198, 0.6);
	  }

	 a
	  {
	    text-decoration: none;
	    color: white;
	  }

	 .contentLink
	  {
	    text-decoration: none;
	    text-shadow: none;
	    color: #ff0066;
	  }

@media screen and (max-width:900px) {

	.imgCont {
		padding:80px;
	}

	.imgContent {
		height: auto;
		box-sizing:border-box;
	}

	.main {
		width:98%;
	}

}