
	.small-input, .seeMore, .textMain, .textMain2, .textMain3, .textTitle, .contentLink {
	text-shadow: none;
	}

	.seeMore, .textMain, .textMain2, .textMain3, .textTitle, .footer{
	box-sizing:border-box;
	}

	.seeMore, .textMain2, .textMain3, .textTitle, .txtCont {
	color:black;
	}

	.txtMain2, .txtMain3, .textTitle, header h2 {
	text-align: left;
	}

	table, .mainContent, .index-img, .box-row {
	width: 100%;
	}

	.imgContent, .imgContent2, .imgContent3 {
	border: 2px solid black;
	box-sizing:border-box;
	text-align: center;
	max-width:100%;
	}

	.footer, .bg-text, .profileIMG {
	box-shadow: 0px 0px 15px white;
	}

	.main, .main2, .main3, .main4 {
	box-sizing:border-box;
	text-shadow: none;
	color:black;
	}

	.txtMain, .txtMain2, #hashkey {
	font-weight: bold;
	}

	.textTitle, .textMain3 {
	margin: 1%;
	}

	a, .bg-text, .footCont {
	color: white;
	}

	.mainContent, .bg-text {
	max-width: 1000px;
	overflow:hidden;
	}

	.main, .main2, .main3 {
	border-radius: 25px;
	background: #EFFFEF;
	text-align: left;
	padding:20px;
	float:left;	
	}

	#hashkey, .footCont {
	text-shadow: 1px 1px 1px black;
	}

	.seeMore, .box-row {
	border-radius: 10px;
	}

	#hashkey, .title {
	text-align: center;
	}

	.seeMore, .main4 {
	width:150px;
	}

	a, .contentLink {
	text-decoration: none;
	}

	.footer, table {
	background-color: rgba(95, 187, 151, 1);
	}

	.main, .main2 {
	margin: 0.5%;
	}

	table, th, td {
	border: 1px solid white;
	padding: 8px;
	}

	#g-recaptcha-response {
	margin: -78px 0 0 0 !important;
	display: block !important;
	width: 302px !important;
	height: 76px !important;
	position: absolute;
	z-index: -999999;
	opacity: 0;
	}

	table {
	border-collapse: collapse;
	}

	* {
	font-family:bahnschrift,garamond,serif;
	}

	body{
	background-image: url("../src/bg.png");
	background-repeat: repeat;
	background-size:400px;
	}

	#hashkey {
	letter-spacing:2px; 
	background: none; 
	font-size:20px;
	border:none; 
	color:white; 
	}

	.form-control {
		max-width: 300px;
	}

	.title {
	margin: 20px;
	}

	header h1 {
	margin-bottom: 10px;
	color: #fff;
	}

	header h2 {
	margin-bottom: 50px;
	}

	#btn-add {
	height:20px;
	padding: 0px 10px 0px 10px;
	font-size:14.5px;
	}

	.socialIcons img {
	margin: 1% 8% 1% 8%;
	width: 35px;
	}

	.small-input {
	display:inline-block;
	font-size: 10px;
	color:blue;
	}

	#bagspinner {
		font-size: 8px;
		border-radius: 5px;
		height:20px;
	}

	.seeMore {
	background: #EFFFEF;
	padding:20px;
	}

	.textMain {
	margin: 5% 0px 5% 0px;
	text-align: right;
	color:red;
	}

	.textMain, .desc2 {
	font-size: 15px;
	}

	.textMain2 {
	font-size: 16px;
	margin: 0;
	}

	.textMain3 {
	margin: 5px 0px 0px 0px;
	font-size: 14px;
	}

	.footer {
	border-radius: 15px;
	max-width: 600px;
	width: 86%;
	}

	.footCont{
	padding:1px 5px 1px 5px;
	text-align: middle;
	height: 80px;
	}

	.mainContent {
	margin: 0 auto;
	}

	.profileIMG {
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
	height: 150px;
	width: 150px;
	}

	.bg-text {
	background-color: rgba(95, 187, 151, 0.85);
	text-shadow: 1px 1px 2px black;
	border: 3px solid #f1f1f1;
	border-radius: 25px;
	padding: 15px;
	width: 89%;
	}

	.container .box .a {
	display: table;
	}

	.index-img {
	border: 1px solid black;
	min-width:100px;
	height: auto;
	}

	.box-row{
	background: rgba(132, 220, 198, 0.6);
	}

	.contentLink
	{
	color: #ff0066;
	}

	.main {
	max-width: 32%;
	}

	.main2 {
	max-width: 24%;
	}

	.main3 {
	margin: 5% 25% 5% 25%;
	max-width:500px;
	}

	.txtCont {
	height: 70px;
	}

	.imgCont {
	padding: 0px 20px 10px 20px;
	}

	.imgContent {
	max-height:100%;
	}

	.imgContent2 {
	max-height:50%;
	}

	.desc2 {
	padding-left:10px;
	}

	.desc {
	font-size: 20px;
	}


@media screen and (max-width:900px) {

	table, .footCont a {
	font-size: 10px;
	}

	.main, .main2 {
	max-width:48%;
	padding:12px;
	height: 0%;
	margin:1%;
	}

	.footCont {
	font-size: 13px;	
	height: 70px;
	}

	.txtCont {
	height: 90px;
	color:black;
	}

	.imgCont {
	padding: 5px;
	}

	.main3 {
	margin: 5% 5% 0% 5%;
	max-width: 700px;
	width:90%;
	}

	.main4 {
	max-width:100px;
	}

	#btn-add {
	font-size:10px;
	margin-top: -2.5px;
		margin-left: 5px;
	}

	#bagspinner {
		font-size: 8px;
		border-radius: 5px;
		margin-top: -3.5px;
		margin-left: 5px;
		height:20px;
	}
}